{
	auto_https disable_redirects
	http_port {$HTTP_PORT:80}
	https_port {$HTTPS_PORT:443}
}

http://{$HTTP_ADDRESS::80} {
	redir https://{$API_ADDRESS:localhost}{uri} permanent
}

{$API_ADDRESS:localhost} {
	@api path /api /api/* /actuator /actuator/*
	handle @api {
		reverse_proxy core-api:8080
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
